# This is the CODEOWNERS file that defines a set of default reviewers
# for any pull requests in this repository.

# Default reviewers for the entire repository
*       @robbibt @BexDunn @erialC-P @uchchwhash @Matt-dea @Kooie-cate @geoscience-aman @JM-GA @treefern @margaretharrison @vnewey @Ariana-B @amanda2099 @supermarkion @erin-telfer
