*.py~
*~
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.tif
*.xml
*.shp
*.shx
*.prj
*.dbf
*.cpg
*.sbn
*.sbx
*.kea
*.qgs
*.nc
*.lyr
*.qpj
*.yaml
*.img
*.hdr
*.gif
*.csv
*.jsonl
*.lock
*.npy
*.joblib
*.log
*.nfs2ac003add000433800000d36
__pycache__
*.dirlock
Transitory_notebooks/
*.qmd
