\*.py~
*~
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.tif
*.xml
__pycache__
*.shp
*.dbf
*#
*.prj
*.qpj
*.shx
*.zip
*.jpg
*.sbn
*.sbx
*.qgs
*.png
SENSITIVE/
Land_NSW_Landuse_2013/
Land_NSW_Landuse2007/
*.pkl
