absl-py==0.5.0
affine==2.2.1
alabaster==0.7.12
altair==2.2.2
amqp==2.3.2
asn1crypto==0.24.0
astor==0.7.1
astroid==2.0.3
astropy==3.0.4
atomicwrites==1.2.1
attrs==18.2.0
autopep8==1.4
awscli==1.16.41
Babel==2.6.0
backcall==0.1.0
basemap==1.2.0
billiard==3.5.0.4
bleach==3.0.2
bokeh==0.13.0
boltons==18.0.1
boto3==1.9.21
botocore==1.12.31
Bottleneck==1.2.1
bqplot==0.11.1
branca==0.3.0
cachetools==2.1.0
Cartopy==0.16.0
celery==4.2.1
certifi==2018.11.29
cf-units==2.0.1
cffi==1.11.5
cftime==1.0.1
chardet==3.0.4
checksumdir==1.1.4
ciso8601==2.1.1
Click==7.0
click-datetime==0.2
click-plugins==1.0.4
cligj==0.5.0
cloudpickle==0.6.1
colorama==0.3.9
CommonMark==0.5.4
compliance-checker==4.1.1
conda==4.5.11
coverage==4.5.1
cryptography==2.3.1
cryptography-vectors==2.3.1
cycler==0.10.0
Cython==0.28.5
cytoolz==0.9.0.1
dask==0.19.3
datacube==1.6.1+72.gdfc6b47a
datacube-stats==0.9b4
DAWG==0.7.8
decorator==4.3.0
descartes==1.1.0
digitalearthau==20180116+205.gc7923cb
dill==0.2.8.2
distributed==1.23.3
docutils==0.14
entrypoints==0.2.3
eodatasets==0.9+42.g876e679
ephem==3.7.6.0
fast-histogram==0.5
fc==1.2.9+7.g78e37db
ffmpeg-python==0.1.16
Fiona==1.7.13
Flask==1.0.2
Flask-Caching==1.4.0
folium==0.6.0
future==0.16.0
gast==0.2.0
GDAL==2.2.4
geographiclib==1.49
geopandas==0.4.0
geopy==1.17.0
glue-core==0.13.3
glue-geospatial==0.1
graphviz==0.9
greenlet==0.4.15
grpcio==1.14.1
gunicorn==19.9.0
h5netcdf==0.6.2
h5py==2.8.0
hdmedians==0.13
heapdict==1.0.0
hypothesis==3.76.0
idna==2.7
imageio==2.3.0
imagesize==1.1.0
ipdb==0.11
ipykernel==5.1.0
ipyleaflet==0.9.0
ipympl==0.2.1
ipython==7.0.1
ipython-genutils==0.2.0
ipython-sql==0.3.9
ipywidgets==7.4.2
isodate==0.6.0
isort==4.3.4
itsdangerous==0.24
jedi==0.13.1
jeepney==0.4
Jinja2==2.10
jmespath==0.9.3
joblib==0.12.5
jplephem==2.8
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.0
jupyter-core==4.4.0
jupyter-dashboards==0.7.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.4
jupyter-nbextensions-configurator==0.4.0
jupyterlab==0.35.1
jupyterlab-server==0.2.0
Keras==2.2.4
Keras-Applications==1.0.4
Keras-Preprocessing==1.0.2
keyring==15.1.0
kiwisolver==1.0.1
kombu==4.2.1
lazy-object-proxy==1.3.1
line-profiler==2.1.2
llvmlite==0.25.0
locket==0.2.0
lockfile==0.12.2
luigi==2.7.9
lxml==4.2.5
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==3.0.2
mccabe==0.6.1
meinheld==0.6.1
memory-profiler==0.54.0
mistune==0.8.4
mkl-fft==1.0.6
mkl-random==1.0.1
mock==2.0.0
modernize==0.6.1
more-itertools==4.3.0
mpi4py==3.0.0
mpl-scatter-density==0.4
msgpack==0.5.6
munch==2.3.2
mypy==0.630
mypy-extensions==0.4.1
nb-conda-kernels==2.1.1
nbconvert==5.3.1
nbformat==4.4.0
netCDF4==1.4.1
networkx==2.2
notebook==5.7.0
numba==0.40.0
numexpr==2.6.6
numpy==1.15.4
numpydoc==0.8.0
olefile==0.46
opencv-python==3.4.3.18
OWSLib==0.17.0
packaging==18.0
pandas==0.23.4
pandocfilters==1.4.2
parse==1.9.0
parso==0.3.1
partd==0.3.9
pathspec==0.5.9
patsy==0.5.0
pbr==4.2.0
pendulum==2.0.3
pep8==1.7.1
perf==1.5.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.3.0
plotly==3.3.0
pluggy==0.7.1
prettytable==0.7.2
prometheus-client==0.4.1
prompt-toolkit==2.0.6
protobuf==3.6.1
psutil==5.4.7
psycopg2==2.7.5
ptyprocess==0.6.0
pudb==2018.1
py==1.7.0
Py6S==1.7.0
pyasn1==0.4.4
pycodestyle==2.4.0
pycosat==0.6.3
pycparser==2.19
pydash==4.7.3
pyDEM==0.1.1
pyepsg==0.3.2
pyflakes==2.0.0
pygeoif==0.7
Pygments==2.2.0
pygpu==0.7.6
pylint==2.1.1
pyOpenSSL==18.0.0
pyparsing==2.2.2
pyPEG2==2.15.2
pyproj==1.9.5.1
PySAL==1.14.4.post2
pyshp==1.2.12
PySocks==1.6.8
Pysolar==0.6
pytest==3.8.2
pytest-arraydiff==0.2
pytest-astropy==0.4.0
pytest-cov==2.6.0
pytest-doctestplus==0.1.3
pytest-openfiles==0.3.0
pytest-remotedata==0.3.0
python-daemon==2.2.0
python-dateutil==2.7.3
pytz==2018.5
pytzdata==2018.5
PyWavelets==1.0.1
PyYAML==3.13
pyzmq==17.1.2
QtAwesome==0.5.1
qtconsole==4.4.1
QtPy==1.5.1
rasterio==1.0.8
rasterstats==0.13.0
recommonmark==0.4.0
redis==2.10.6
regex==2017.7.28
requests==2.19.1
retrying==1.3.3
rios==1.4.6
rope==0.10.7
rsa==3.4.2
RSGISLib==0.1
Rtree==0.8.3
ruamel-yaml==0.15.71
s3transfer==0.1.13
scikit-image==0.14.1
scikit-learn==0.20.0
scipy==1.1.0
seaborn==0.9.0
SecretStorage==3.1.0
Send2Trash==1.5.0
Shapely==1.6.4.post1
simplegeneric==0.8.1
simplejson==3.16.1
singledispatch==3.4.0.3
six==1.11.0
snowballstemmer==1.2.1
snuggs==1.4.1
sortedcontainers==2.0.5
spectral==0.19
Sphinx==1.8.1
sphinx-rtd-theme==0.4.2
sphinxcontrib-websupport==1.1.0
spyder==3.3.1
spyder-kernels==0.2.6
SQLAlchemy==1.2.12
sqlparse==0.2.4
statsmodels==0.9.0
structlog==18.2.0
tables==3.4.4
tabulate==0.8.2
tblib==1.3.2
tensorboard==1.10.0
tensorflow==1.10.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
Theano==1.0.3
toolz==0.9.0
tornado==4.5.3
tqdm==4.26.0
traitlets==4.3.2
traits==4.6.0
traittypes==0.2.1
TuiView==1.2.3
typed-ast==1.1.0
tzlocal==1.5.1
urllib3==1.23
urwid==2.0.1
vega-datasets==0.5.0
vincent==0.4.4
vine==1.1.4
voluptuous==0.11.5
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
wofs==1.4
wrapt==1.10.11
xarray==0.10.9
xlrd==1.1.0
yamllint==1.12.0
yappi==0.98
zict==0.1.3
