
name: Test notebooks

on:
  push:
    branches: [ develop, stable, nbtests ]
  pull_request:
    branches: [ develop, stable ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up containers
      run: |
        docker-compose up -d

    - name: Set up Datacube
      run: |
        docker-compose exec -T index setup_test_datacube.sh
        docker-compose exec -T index datacube product list

    - name: Test with pytest
      run: |
        docker-compose exec -T sandbox pip install testbook
        docker-compose exec -T sandbox mkdir /home/jovyan/dea-notebooks
        docker-compose exec -T sandbox cp -r /dea-notebooks/.git /home/jovyan/.git
        docker-compose exec -T sandbox cp -r /dea-notebooks/Tools /home/jovyan/Tools
        docker-compose exec -T sandbox pip install --use-feature=in-tree-build /home/jovyan/Tools
        docker-compose exec -T sandbox cd /home/jovyan/dea-notebooks; pytest /dea-notebooks/Tests --ignore /dea-notebooks/Tests/Beginners_guide/07_Intro_to_numpy_test.py --ignore /dea-notebooks/Tests/Frequently_used_code/Animated_timeseries_test.py --ignore /dea-notebooks/Tests/Frequently_used_code/Contour_extraction_test.py --ignore /dea-notebooks/Tests/Frequently_used_code/Polygon_drill_test.py --ignore /dea-notebooks/Tests/Frequently_used_code/Tidal_modelling_test.py
        docker-compose down
